body {
  background-color: #fffdf6;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav_wrapper.open {
  display: block;
}

.nav_wrapper.close {
  display: none;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 40px;
  width: 40px;
  height: 40px;
  background-color: #494949;
  color: #fffdf6;
  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  opacity: 0.7;
}

.top:hover {
  opacity: 0.9;
}

/*==========================================
header =====================================
============================================
*/
header {
  height: 100px;
  width: 100%;
  -webkit-transition: all 100ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -moz-transition: all 100ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -o-transition: all 100ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  transition: all 100ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
}
header #main_nav {
  text-align: center;
  line-height: 100px;
  width: 100%;
}
header #main_nav li {
  display: inline;
}
header #main_nav li a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
}
header #main_nav li a i {
  margin-top: 5px;
}
header #main_nav li a .margin {
  margin: 0 49px;
}
header #main_nav li a #logo {
  vertical-align: middle;
  margin: 0 49px 8px 49px;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #000;
  box-shadow: 1px 0px 2px;
  background-color: #fffdf6;
  -webkit-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -moz-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -o-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
}

#nav_container {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #494949;
  opacity: 0.8;
}
#nav_container #close {
  position: absolute;
  top: 5px;
  right: 10%;
  font-size: 60px;
  color: #fff;
}
#nav_container #sub_nav {
  margin-top: 40px;
  width: 170px;
  display: block;
  margin: 0 auto;
}
#nav_container #sub_nav li {
  margin: 20px auto;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 20px;
}
#nav_container #sub_nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}
#nav_container #sub_nav li:hover {
  border: 1px solid #fff;
  background-color: #000;
  -webkit-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -moz-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  -o-transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
  transition: all 200ms cubic-bezier(0.93, 0.075, 0.35, 0.87);
}

/*==========================================
main_slide =====================================
============================================
*/
#main_slide {
  height: auto;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  padding: 2% 0;
}
#main_slide img {
  width: 60%;
  height: auto;
}

/*==========================================
box =====================================
============================================
*/
.box {
  text-align: center;
  border-bottom: 3px solid #ccc;
  padding-bottom: 100px;
}
.box h2, .box h3 {
  margin: 90px 0;
  font-size: 45px;
}
.box ul {
  display: flex;
  justify-content: center;
}
.box ul li {
  text-align: left;
}
.box ul li p {
  margin-top: 150px;
  font-size: 24px;
  line-height: 36px;
  margin-left: 45px;
}
.box .btn {
  display: inline-block;
  align-items: center;
  margin-top: 65px;
  border: 1px solid #494949;
  padding: 15px 70px;
  background-color: #494949;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.box .btn:hover {
  background-color: #fff;
  color: #494949;
}

/*==========================================
footer =====================================
============================================
*/
footer {
  text-align: center;
  padding: 20px 0;
  color: #ccc;
  font-size: 12px;
}

/*==========================================
 width 850 =====================================
============================================
*/
@media (max-width: 850px) {
  header {
    height: 80px;
  }
  header #main_nav {
    line-height: 80px;
  }
  header #main_nav li a {
    font-size: 40px;
  }
  header #main_nav li a .margin {
    margin: 0 19px;
  }
  header #main_nav li a #logo {
    margin: 0 19px 8px 19px;
    width: 100px;
    height: 40px;
  }

  #main_slide img {
    width: 100%;
  }
}
/*==========================================
 width 750 =====================================
============================================
*/
@media (max-width: 750px) {
  header {
    height: 80px;
  }
  header #main_nav li a {
    font-size: 30px;
  }
  header #main_nav li a .margin {
    margin: 0 3px;
  }
  header #main_nav li a #logo {
    margin: 0 3px 8px 3px;
    width: 100px;
    height: 30px;
  }

  .box h2, .box h3 {
    margin: 50px 0;
  }
  .box ul {
    flex-direction: column;
  }
  .box ul li {
    text-align: center;
  }
  .box ul li p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 36px;
    margin-left: 0;
  }
}
/*==========================================
 other page share =====================================
============================================
*/
.box_wrapper {
  text-align: center;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  padding-bottom: 100px;
  padding-top: 100px;
}
.box_wrapper h2 {
  margin: 50px 0;
  font-size: 45px;
}

/*==========================================
 about page =====================================
============================================
*/
.about ul {
  display: flex;
  justify-content: center;
}
.about ul li img {
  height: auto;
  width: 250px;
  margin-right: 40px;
}
.about ul li .about_p {
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  margin-top: 120px;
}
.about ul li .about_p p {
  margin-bottom: 10px;
}
.about ul li:last-child {
  width: 400px;
}

@media (max-width: 750px) {
  .about ul {
    flex-direction: column;
  }
  .about ul li {
    text-align: center;
  }
  .about ul li img {
    margin-right: 0;
  }
  .about ul li .about_p {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 15px;
  }
  .about ul li:last-child {
    width: 100%;
  }
}
/*==========================================
 work page =====================================
============================================
*/
/*==========================================
 skill page =====================================
============================================
*/
#skill #skill_p {
  margin: 0 auto;
  font-size: 22px;
  width: 70%;
}
#skill #skill_p p {
  margin-bottom: 20px;
  line-height: 30px;
}
#skill .box {
  border-bottom: none;
}
#skill .box .skill_icon {
  font-size: 150px;
  margin-right: 100px;
}
#skill .box ul li p {
  margin-top: 45px;
  width: 400px;
}
#skill .orange {
  color: orange;
}
#skill .red {
  color: red;
}
#skill .blue {
  color: blue;
}
#skill .green {
  color: green;
}

@media (max-width: 750px) {
  #skill #skill_p {
    width: 100%;
  }
  #skill .box .skill_icon {
    margin-right: 0;
  }
  #skill .box ul li p {
    width: 100%;
  }
  #skill .zero {
    padding-bottom: 0;
  }
}
/*==========================================
 dog page =====================================
============================================
*/
#dog .dog_p {
  margin-top: 360px;
}

#history ul {
  margin-bottom: 50px;
  height: 400px;
  line-height: 400px;
  vertical-align: bottom;
}
#history .koro_img {
  width: 250px;
}
#history .dog_p {
  width: 400px;
  margin-top: 280px;
}
#history .history_right .dog_p {
  margin-right: 20px;
  margin-left: 0;
}
#history .history_left .dog_p {
  margin-left: 20px;
}

@media (max-width: 750px) {
  #dog ul, #history ul {
    flex-direction: column;
  }
  #dog ul li, #history ul li {
    text-align: center;
  }
  #dog ul li img, #history ul li img {
    margin-right: 0;
  }
  #dog .history_right, #history .history_right {
    flex-direction: column-reverse;
  }
  #dog .dog_p, #history .dog_p {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }

  #history .dog_p {
    margin: 160px 0 0 0;
  }
}
