body {
  background-color: #fffdf6;
}

/*==========================================
header =====================================
============================================
*/
header {
  height: 150px;
}
header ul {
  text-align: center;
  line-height: 150px;
}
header ul li {
  display: inline;
}
header ul li a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
}
header ul li a i {
  margin-top: 5px;
}
header ul li a .margin {
  margin: 0 49px;
}
header ul li a .nav {
  height: 45px;
  width: 45px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 6px 4px;
  font-size: 35px;
}
header ul li a img {
  vertical-align: middle;
  margin: 0 49px 8px 49px;
}
header ul li a #menu_bar {
  height: 47px;
  width: 47px;
  margin-right: 0;
  margin-left: 0;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

/*==========================================
main_slide =====================================
============================================
*/
#main_slide {
  height: 314px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  padding: 45px 0 40px 0;
}
