@charset "utf-8";

$main_color: #fffdf6;
$sub_color: #faf6e9;
$point_color: #494949;
$title_font : "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$main_font: "georgia";

body {
	background-color: $main_color;
}
#wrapper {
	width: 90%;
	margin: 0 auto;
}
.nav_wrapper.open {
  display: block;
}
.nav_wrapper.close {
  display: none;
}
.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: $point_color;
    color: $main_color;
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
.top:hover {
    opacity: 0.9;
}
/*==========================================
header =====================================
============================================
*/
header {
	height: 100px;
	width: 100%;
	-webkit-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
   -moz-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
     -o-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
        transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
	#main_nav {
		text-align: center;
		line-height: 100px;
		width: 100%;
		li {
			display: inline;
			a {
				text-decoration: none;
				color: #000;
				font-size: 50px;
				i {
					margin-top: 5px;
				}
				.margin {
					margin: 0 49px;
				}
				img {
					vertical-align: middle;
					margin: 0 49px 8px 49px;
				}
				#menu_bar {
					height: 47px;
					width: 47px;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #000;
  box-shadow: 1px 0px 2px;
  background-color: $main_color;
  -webkit-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
   -moz-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
     -o-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
        transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
}

#nav_container {
	display: none;
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: $point_color;
	opacity: 0.8;
	#close {
		position: absolute;
		top: 5px;
		right: 10%;
		font-size: 60px;
		color: #fff;
	}
	#sub_nav {
		margin-top: 40px;
		width: 170px;
		display: block;
		margin: 0 auto;
		li {
			margin: 20px auto;
			text-align: center;
			border-bottom: 1px solid #fff;
			padding: 20px;
			
			a {
				color: #fff;
				text-decoration: none;
				font-size: 30px
			}
			
		}
		li:hover {
			border: 1px solid #fff;
			background-color: #000;
			-webkit-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		   -moz-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		     -o-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		        transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
		}
		
	}
}
/*==========================================
main_slide =====================================
============================================
*/
#main_slide {
	height: 250px;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 15px 0 10px 0;
	img {
		width: 60%;
		height: auto;
	}
}

/*==========================================
box =====================================
============================================
*/
.box {
	text-align: center;
	border-bottom: 3px solid #ccc;
	padding-bottom: 100px;
	h2 {
		margin: 90px 0;
		font-size: 45px;
	}
	ul {
		display: flex;
		justify-content: center;
		
		li {
			
			text-align: left;
			p {
				margin-top: 150px;
				font-size: 24px;
				line-height: 36px;
				margin-left: 45px;
			}
		}
		li:last-child {
			//margin-left: 45px;
		}
	}
	.btn {
		display: inline-block;
		align-items: center;
		margin-top: 65px;
		border: 1px solid $point_color;
		padding: 15px 70px;
		background-color: $point_color;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
	}
	.btn:hover {
		background-color: #fff;
		color: $point_color;
	}
	
}
/*==========================================
footer =====================================
============================================
*/
footer {
	text-align: center;
	padding: 20px 0;
	color: #ccc;
	font-size: 12px;
}




