@charset "utf-8";

$main_color: #fffdf6;
$sub_color: #faf6e9;
$point_color: #494949;
$title_font : "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$main_font: "georgia";

body {
	background-color: $main_color;
}
#wrapper {
	width: 90%;
	margin: 0 auto;
}

/*==========================================
header =====================================
============================================
*/
header {
	height: 150px;
	ul {
		text-align: center;
		line-height: 150px;
		li {
			display: inline;
			a {
				text-decoration: none;
				color: #000;
				font-size: 50px;
				i {
					margin-top: 5px;
				}
				.margin {
					margin: 0 49px;
				}
				.nav {
					height: 45px;
					width: 45px;
					border: 1px solid #000;
					border-radius: 10px;
					padding: 6px 4px;
					font-size: 35px;
				}
				img {
					vertical-align: middle;
					margin: 0 49px 8px 49px;
				}
				#menu_bar {
					height: 47px;
					width: 47px;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
}

/*==========================================
main_slide =====================================
============================================
*/
#main_slide {
	height: 314px;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 45px 0 40px 0;
}
/*==========================================
box =====================================
============================================
*/
.box {
	text-align: center;
	border-bottom: 3px solid #ccc;
	padding-bottom: 100px;
	h2 {
		margin-top: 100px;
		margin-bottom: 115px;
		font-size: 45px;
	}
	ul {
		display: inline-flex;
		width: 100%;
		li {
			margin-right: 45px;
			text-align: left;
			p {
				margin-top: 145px;
				font-size: 24px;
				line-height: 36px;
			}
		}
		li:first-child {
			margin-left: 14.25%;
		}
	}
	.btn {
		display: inline-block;
		align-items: center;
		margin-top: 65px;
		border: 1px solid $point_color;
		padding: 15px 70px;
		background-color: $point_color;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
	}
	.btn:hover {
		background-color: #fff;
		color: $point_color;
	}	
}
/*==========================================
footer =====================================
============================================
*/
footer {
	text-align: center;
	padding: 20px 0;
	color: #ccc;
	font-size: 12px;
}




