@charset "utf-8";

$main_color: #fffdf6;
$sub_color: #faf6e9;
$point_color: #494949;
$title_font : "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$main_font: "georgia";

body {
	background-color: $main_color;
}
#wrapper {
	width: 90%;
	margin: 0 auto;
}
.nav_wrapper.open {
  display: block;
}
.nav_wrapper.close {
  display: none;
}
.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: $point_color;
    color: $main_color;
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
}
.top:hover {
    opacity: 0.9;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 500ms;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

/*==========================================
header =====================================
============================================
*/
header {
	height: 100px;
	width: 100%;
	-webkit-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
   -moz-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
     -o-transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
        transition: all 100ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
	#main_nav {
		text-align: center;
		line-height: 100px;
		width: 100%;
		li {
			display: inline;
			a {
				text-decoration: none;
				color: #000;
				font-size: 50px;
				i {
					margin-top: 5px;
				}
				.margin {
					margin: 0 49px;
				}
				#logo {
					vertical-align: middle;
					margin: 0 49px 8px 49px;
				}
			}
		}
	}
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #000;
  box-shadow: 1px 0px 2px;
  background-color: $main_color;
  -webkit-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
   -moz-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
     -o-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
        transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
}

#nav_container {
	display: none;
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: $point_color;
	opacity: 0.8;
	#close {
		position: absolute;
		top: 5px;
		right: 10%;
		font-size: 60px;
		color: #fff;
	}
	#sub_nav {
		margin-top: 40px;
		width: 170px;
		display: block;
		margin: 0 auto;
		li {
			margin: 20px auto;
			text-align: center;
			border-bottom: 1px solid #fff;
			padding: 20px;
			
			a {
				color: #fff;
				text-decoration: none;
				font-size: 30px
			}
			
		}
		li:hover {
			border: 1px solid #fff;
			background-color: #000;
			-webkit-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		   -moz-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		     -o-transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870); 
		        transition: all 200ms cubic-bezier(0.930, 0.075, 0.350, 0.870);
		}
		
	}
}
/*==========================================
main_slide =====================================
============================================
*/
#main_slide {
	height: auto;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 2% 0;
	img {
		width: 60%;
		height: auto;
	}
}

/*==========================================
box =====================================
============================================
*/
.box {
	text-align: center;
	border-bottom: 3px solid #ccc;
	padding-bottom: 100px;
	h2, h3 {
		margin: 90px 0;
		font-size: 45px;
	}
	ul {
		display: flex;
		justify-content: center;
		
		li {
			text-align: left;
			p {
				margin-top: 150px;
				font-size: 24px;
				line-height: 36px;
				margin-left: 45px;
			}
		}
		li:last-child {
			//margin-left: 45px;
		}
	}
	.btn {
		display: inline-block;
		align-items: center;
		margin-top: 65px;
		border: 1px solid $point_color;
		padding: 15px 70px;
		background-color: $point_color;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
	}
	.btn:hover {
		background-color: #fff;
		color: $point_color;
	}
	
}
/*==========================================
footer =====================================
============================================
*/
footer {
	text-align: center;
	padding: 20px 0;
	color: #ccc;
	font-size: 12px;
}

/*==========================================
 width 850 =====================================
============================================
*/

@media (max-width: 850px) {
	header {
		height: 80px;
		#main_nav {
			line-height: 80px;
			li {
				a {
					font-size: 40px;
					.margin {
						margin: 0 19px;
					}
					#logo {
						margin: 0 19px 8px 19px;
						width: 100px;
						height: 40px;
					}
				}

			}
		}
	}
	
	#main_slide {
		img {
			width: 100%;
		}
	}
}

/*==========================================
 width 750 =====================================
============================================
*/

@media (max-width: 750px) {
	header {
		height: 80px;
		#main_nav {
			li {
				a {
					font-size: 30px;
					.margin {
						margin: 0 3px;
					}
					#logo {
						margin: 0 3px 8px 3px;
						width: 100px;
						//height: 40px;
						height: 30px;
					}
				}

			}
		}
	}


	.box {
		h2, h3 {
			margin: 50px 0;
		}
		ul {
			flex-direction: column;
			li {
			 text-align: center;
			 p {
				margin-top: 30px;
				font-size: 24px;
				line-height: 36px;
				margin-left: 0;
				}
			}
		}
	}
}
/*==========================================
 other page share =====================================
============================================
*/
.box_wrapper {
	text-align: center;
	border-top:  3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding-bottom: 100px;
	padding-top: 100px;

	h2 {
		margin: 50px 0;
		font-size: 45px;
	}
}

/*==========================================
 about page =====================================
============================================
*/
.about {
	ul {
		display: flex;
		justify-content: center;
		li {
			img {
				height: auto;
				width: 250px;
				margin-right: 40px;
			}
			.about_p {
				text-align: left;
				font-size: 20px;
				line-height: 25px;
				margin-top : 120px;
				p {
					margin-bottom: 10px;
				}
			}
		}
		li:last-child {
			width: 400px;
		}
	}
}

@media (max-width: 750px) {
	.about {
		ul {
			flex-direction: column;
			li {
				text-align: center;
				img {
					margin-right: 0;
				}
				.about_p {
					margin-top: 30px;
					font-size: 18px;
					padding-left: 15px;
				}
			}
			li:last-child {
				width: 100%;

			}
		}
	}
}
/*==========================================
 work page =====================================
============================================
*/

/*==========================================
 skill page =====================================
============================================
*/
#skill {
	#skill_p {
		margin: 0 auto;
		font-size: 22px;
		width: 50%;
		p {
			margin-bottom: 20px;
			line-height: 30px;
		}
	}
	.box {
		border-bottom: none;
		.skill_icon {
			font-size: 150px;
			margin-right: 100px;
		}
		ul {
			li {
				p {
					margin-top: 45px;
					width: 400px;
				}
			}
		}
	}
	.orange {
		color: orange;
	}
	.red {
		color: red;
	}
	.blue {
		color: blue;
	}
	.green {
		color: green;
	}
}
@media (max-width: 750px) {
	#skill {
		#skill_p {
			width: 100%;
		}
		.box {
			.skill_icon {
				margin-right: 0;
			}
			ul {
				li {
					p {
						width: 100%;
					}
				}
			}
		}
		.zero {
			padding-bottom: 0;
		}
	}
}
/*==========================================
 dog page =====================================
============================================
*/
#dog {
	.dog_p {
		margin-top:360px;
	} 
}
#history {
	position:relative;
	ul {
		margin-bottom: 50px;
		height: 400px;
		line-height: 400px;
		vertical-align: bottom;

	}
	.koro_img {
		width: 250px;
	}
	.dog_p {
		width: 400px;
		margin-top: 280px;
	}
	.history_right {
		.dog_p {
			margin-right: 20px;
			margin-left: 0;
		}
	}
	.history_left {
		.dog_p {
			margin-left: 20px;
		}
	}
	
	.current_nav {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		ul {
			li {
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
		
	}
	.on {
	  position: fixed;
	  top: 0;
	  left: calc(5%);
	  
	}
	.current {
		a {
			i {
				color: red;
			}
			
		}
		
	}

}

@media (max-width: 750px) {
	#dog, #history {
		ul {
			flex-direction: column;
			li {
				text-align: center;
				img {
					margin-right: 0;
				}
			}
		}
		.history_right {
			flex-direction: column-reverse;
		}
		.dog_p {
			margin-top: 50px;
			text-align: center;
			width: 100%;
		}
	}
	#history {
		.history_left {
			.dog_p {
				margin-left: 0;
			}
			
		}
		.dog_p {
			margin: 160px 0 0 0;
		}
		.current_nav {
			display: none;
		}
	}

}
/*==========================================
 contact_page =====================================
============================================
*/
#contact {
	text-align: center;
	#contact_p {
		margin: 0 auto;
		width: 80%;
		font-size: 24px;
	}
}

@media (max-width: 750px) {
	#contact {
		#contact_p {
			width: 100%;
		}
	}
}


.current_nav {
	
	ul { 
		display: flex;
		flex-direction: column;
		li {
			font-size: 30px;
		}
	}
}

